{% extends 'AppProyecto/padre.html' %}

{% block titulo %}Bibliotecas{% endblock %}

{% block encabezado %}Bibliotecas{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                {% if bibliotecasformulario.errors %}
                    <p style="color: red;"> Los datos estan mal, reviselos</p>
                {% endif %}
                
                <h4>Bibliotecas</h4>
                {% for biblioteca in mis_bibliotecas %}
                Biblioteca: {{biblioteca.nombre}}&nbsp;&nbsp;&nbsp;&nbsp; Direccion: {{biblioteca.direccion}}&nbsp;&nbsp;&nbsp;&nbsp;Email: {{biblioteca.email}} <br>
                {% endfor %}

                {% if nueva_biblioteca %}
                    <p>se agrego correctamente a la biblioteca {{nueva_biblioteca.nombre}} </p>
                {% endif %}


                <form action="{%url 'bibliotecas' %}" method="POST">
                    {% csrf_token %}
                    <table>
                        {{bibliotecasformulario.as_table }}
                    </table>

                    <input type="submit" value="Enviar">
            </div>
        </div>
    </div>
</section>

{% endblock %}