{% extends 'AppProyecto/padre.html' %}

{% block titulo %}Libros{% endblock %}

{% block encabezado %}Libros{% endblock %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class= "col-lg-12"> 
                {% if libroformulario.errors %}
                    <p style="color: red;"> Los datos estan mal, reviselos</p>
                {% endif %}
                
                <h4>Libros</h4>
                {% for licro in mis_libros %}
                {{libro.titulo}} {{libro.editorial}} {{libro.paginas}} <br>
                {% endfor %}

                {% if nuevo_libro %}  
                    <p>se agrego correctamente el libro {{nuevo_libro.titulo}} ({{nuevo_libro.editorial}}) {{nuevo_libro.paginas}}</p>
                {% endif %}


                <form action="{%url 'libros' %}" method="POST">
                    {% csrf_token %}
                    <table>
                        {{ libroformulario.as_table }}
                    </table>

                    <input type="submit" value="Enviar">
            </div>
        </div>
    </div>
</section>

{% endblock %}